.wrapper {
    background-color: #ffffff;
    border: 1px solid #d7dbe1;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #949494;
    padding: 10px 50px;
    margin-bottom: 20px;
}
.section_title {
    color: #000000;
    margin-bottom: 30px;
}

.wrapper_block {
    display: flex;
    margin-bottom: 50px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
    border-radius: 10px;
    padding: 20px;
}
.avatar_button {
    margin-right: 50px;
}

