.wrapper {    
    background-color: #ffffff;
    border: 1px solid #d7dbe1;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #949494;
    padding: 10px;
    margin-bottom: 20px;
}
.section_title {
    color: #000000;
    margin-bottom: 30px;
}
.dialogs_wrapper {
    display: grid;   
    grid-template-columns: 2fr 10fr;
    grid-gap: 20px;
}
.avatar {
    width: 30px;
    margin-right: 10px;
}
.dialog {
    display: flex;
    align-items: center;
}
.dialog,
.message {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #d7dbe1;
    border-radius: 5px;
    margin-bottom: 10px;
}
.dialog_link {
    text-decoration: none;
    color: inherit;
}
.active {
    font-weight: 700;
}
.post_field {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
    min-height: 50px;
    padding: 20px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;  
    border: 1px solid #d7dbe1;
    border-radius: 5px;
    color: #69727e;
  }
  .send_btn {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-bottom: 20px;
  }
  .send_btn:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
  }
  .send_btn:active {
    position: relative;
    top: 1px;
  }